body
{
	text-align: center;
}
#kart
{
	float: left;
	padding-left:100px;
}
#image
{
	float: right;
	padding-right:200px;
}
#login
{
	position:absolute;
	top: 30px;
	right: 60px;
}
#art
{	
position:absolute;
	float:right;
	
	padding-top:900px;
	padding-left:500px;
	
}
#name
{
color:#FFDB58;
padding-top: 50px;
}
#home

{
position:absolute;
	top: 30px;
	right: 150px;
}
body
{
	border: 1px transparent solid;
}


.leftdivWrapperS
{
	border: 1px red transparent;
	float: left;
	width: 200px;
	color: #63656b;
	font-family: Courier 5cpi;
	float: top;
}




#rightboxS
{
	border: 1px transparent solid;
	margin-left: 215px;
	text-align: center;
	
}
#bottomboxS
{
	border: 1px #96b9ff solid;
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSVVHsh1-coEPA7jQdxsK70dxQC_8MDlDw0WlkAJUL45GwPYSEOaw");
	text-align: center;
	padding-top: 15px; 
	padding-bottom: 15px; 
}
#boxLinks
{
	position: absolute;
	top: 15px;
	right: 60px;
	color: purple; 
}
#contentS
{
	border: 1px transparent solid;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: auto;
}
#imageS
{
	border: 2px transparent solid;
	width:50px;
	position: absolute;
	top:30px;
	left:30px;
}
.itembrd
{
	border: 1px black solid;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	height: 350px;
	width: 175px;
	padding: 10px 10px 10px 10px;
	overflow: visible;
	
}
.ProImgBrd
{
	height: 200px;
}
#middleboxL
{
	border: 1px black solid;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 98px;
	padding-bottom: 98px;
}
#middleboxR
{
	border: 1px black solid;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 98px;
	padding-bottom: 98px;
}
#middleboxFP
{
	border: 1px black solid;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 125px;
	padding-bottom: 125px;
}
#password
{
	border: 1px black solid;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 98px;
	padding-bottom: 98px;
}